@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

.slide-up {
    animation: slideUp 0.3s forwards; /* Duración y dirección de la animación */
}
