@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::selection {
    background-color: #c0e4e4;
    color: black;
}

.radix-themes {
    --default-font-family: Inter, Onest, Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif --heading-font-family: ;
}
.radix-themes ::selection {
    background-color: #c0e4e4;
    color: black;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: inner-spin-button;
}
