@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Lato, Montserrat, Inter, Onest, Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

::selection {
    background-color: #c0e4e4;
    color: black;
}

.radix-themes {
    --default-font-family: Inter, Onest, Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif --heading-font-family: ;
}
.radix-themes ::selection {
    background-color: #c0e4e4;
    color: black;
}
